# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [5]:
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!') 
print ("remember to save notebook!")

Hello!
remember to save notebook!

#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [3]:
print('watch for the cat')

watch for the cat

#### Student's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

##  # comments
create a code comment that identifies this notebook, containing your name and the date

In [7]:
print('Irma_2018_10_25')

Irma_2018_10_25

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [8]:
# [ ] print your name

# [ ] print "is using Python"

print('Irma')
print('is using Python!')

Irma
is using Python!

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [12]:
# [ ] create a variable your_name and assign it a sting containing your name

#[ ] print your_name
your_name = "Irma"
print(your_name)

Irma

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [26]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number


# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number

favorite_song = "lay your hands on me"
shoe_size = 2
lucky_number = 1
print(favorite_song)
print(shoe_size)
print(lucky_number)

lay your hands on me
2
1

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [27]:
# [ ] print favorite_song with description


# [ ] print shoe_size with description


# [ ] print lucky_number with description

print("my favorite song is" + " lay your hands on me")
print("my shoe size is" + " 2")
print("my lucky number is" + " 1")

my favorite song is lay your hands on me
my shoe size is 2
my lucky number is 1

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [42]:
# assign favorite_lucky_shoe using
favorite_lucky_shoe = " For singing"
favorite_song = " lay your hands on me"
shoe_size = " 2 times,"
lucky_number = "you will be fined $1"
print(favorite_lucky_shoe + favorite_song + shoe_size + lucky_number)

 For singing lay your hands on me 2 times,you will be fined $1

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [63]:
# [ ] print a diagonal using "*"
print("*")
print(" *")
print("  *")
print("   *")
print("    *")


# [ ] rectangle using "*"
print("*******")
print("*     *")
print("*     *")
print("*******")

# [ ] smiley using "*"
print("*******************")
print("**               **")
print("*    **     **    *")
print("*    **     **    *")
print("*                 *")
print("*                 *")
print("*******************")
print("****           ****")
print("*****        ******")
print("*******************")

*
 *
  *
   *
    *
*******
*     *
*     *
*******
*******************
**               **
*    **     **    *
*    **     **    *
*                 *
*                 *
*******************
****           ****
*****        ******
*******************

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [58]:
# [ ] display the type of 'your name' (use single quotes)

type('Irma')

str

In [59]:
# [ ] display the type of "save your notebook!" (use double quotes)

type("save your notebook!")

str

In [60]:
# [ ] display the type of "25" (use quotes)
type("25")

str

In [61]:
# [ ] display the type of "save your notebook " + 'your name'

type("save your notebook " + "Irma")

str

In [62]:
# [ ] display the type of 25 (no quotes)
type(25)

int

In [64]:
# [ ] display the type of 25 + 10 

type(25 + 10)

int

In [65]:
# [ ] display the type of 1.55

type(1.55)

float

In [67]:
# [ ] display the type of 1.55 + 25
type(1.55 + 25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [42]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [45]:
# [ ] display the current type of the variable student_name
student_name = "Gus"
type("student_name")

str

In [46]:
# [ ] display the type of student_age
student_age = 16
type(student_age)

int

In [47]:
# [ ] display the type of student_grade
student_grade = 3.5
type(student_grade)

float

In [53]:
# [ ] display the type of student_age + student_grade
type(16 + 3.5)
type(student_age + student_grade)

float

In [54]:
# [ ] display the current type of student_id
type("ABC-000-000")

str

In [55]:
# assign new value to student_id 
student_id = "2018"
type(student_id)

# [ ] display the current of student_id

str

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [56]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)
x = 1
y = 2
z = 3

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [ ]:
# insert a code cell below
# create an integer variable named xyz_sum equal to the sum of x, y, and z
# print the value of xyz_sum

In [37]:
xyz_sum = 6
print(xyz_sum)

6

### Errors
- **[ ]** troubleshoot and fix the errors below

In [4]:
# [ ] fix the error 

print("Hello World!")

Hello World!

In [9]:
# [ ] fix the error 
print("strings have quotes and" + " variables have names")

strings have quotes and variables have names

In [12]:
# [ ] fix the error 
print( "I have $" + "5")

I have $5

In [13]:
# [ ] fix the error 
print("always save the notebook")

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [39]:
# [ ] Display first name or initials as ASCII Art
first_name = "ASCII Art"
print(first_name)

ASCII Art

In [38]:
# [ ] Challenge: insert an additional code cell to make an ASCII picture
print("      *       * * *  *****   * *")
print("     * *     *      *        * *")
print("    *****     * *   *        * *")
print("   *     *        * *        * *")
print("  *       *  * * *   *****   * *")

      *       * * *  *****   * *
     * *     *      *        * *
    *****     * *   *        * *
   *     *        * *        * *
  *       *  * * *   *****   * *

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; © 2017 Microsoft